@import "tailwindcss";

body {
  background-color: #f9fafb;
  color: #111827;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(209 213 219) rgb(243 244 246);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(209 213 219);
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background-color: rgb(243 244 246);
}
